*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #0a2e52;
}
.lie{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  padding-top: 10%;
}
.y{
    background: linear-gradient(180deg, #023369 0%, #0032E3 100%);
}
.close{
    padding-left: 30%;
    padding-bottom: 10%;
    padding-top: 20px;
}
.fur{
    padding: 20px;
    color: #EEF4FB;
    ;
}
.obey{
    text-align: center;
}
.like{
    background: #EEF4FB;
    width: 500px;
    padding-left: 10%;
}
input{
    width: 300px;
    height: 45px;
}
h1{
    padding-top: 35px;
    padding-left: 50px;
}
.btn{
    border-radius: 8px;
    color:#DFDFDF;
    width: 300px;
    height: 35px;
    background: #027BFE;
    border: 1px solid #DFDFDF
}
.kit{
    display: none;
}
.open{
    padding: 0.5em;
}
.tits{
    font-weight: 400;
    letter-spacing: 0.504px;
}
@media screen and (max-width: 700px) {
    .kit{
        display: flex;
        justify-content: space-between;
        padding: 10%;
    }
    .y{
        display: none;
    }
    .like{
        align-items: center;
        width: 100%;
        height: 578px;
    }
    .f{
        width: 70%;
        margin-top: 40px;
    }
    .h{
        width: 100%;
    }
    .lie{
        padding: 0px;
    }
    .btn{
        width: 100%;
    }
    .tis{
        margin-top: 40px;
    }
    .just{
        margin-left:-14% ;
    }
    .vice{
        margin-right: -10%;
    }
}